/* resets */
html,body,nav,header,h1,h2,ul,ul,li,a,main,p,code,section,footer{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:inherit;
}

/* colors */
:root{
    --dark: #333;
    --light: #666;
    --lighter: #ddd;
    --darkblue: rgb(3, 3, 65);
    --white: #fff;
}
body{
    color: var(--light);
    font-family: nunito, sans-serif;
}
/* header */
/* flex the navbar instead */
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.4rem;
    flex-wrap: wrap;
    border-bottom: 1px dotted var(--light);
}
#main-header{
    flex: 1 1 90%;
}
#burger{
    flex: 0 0 10%;
    text-align:right;
}

#menu{
    display:none;
}
#menu.open{
    display:block;
    flex: 1 0 0;
    font-size: 1rem;
    margin-top: 1rem;
    list-style-type:none;   
    background-color:var(--darkblue);
    text-align:center;
}

#menu.open a{
    display:block;
    color: var(--lighter);
    padding: 0.8rem 1rem;
    border-bottom: 1px dotted var(--light);
    text-decoration: none;
    text-transform: capitalize;
    transition: background-color 0.2s ease-out;
}
#menu.open a:hover{
    background-color: lightblue;
    font-weight: bold;
    color: var(--dark);
}
#main-doc{
    padding: 0 1rem;
    margin-top: 1rem;
    line-height: 1.3rem;
}
h1,h2{
    color: var(--darkblue);
}

.main-section header{
padding: 1rem 0;    

}
code{
    background-color: var(--dark);
    margin: 1rem 0;
    display:block;
    padding: 0.5rem;
    border-radius: 8px;
    color: var(--white);
}
footer{
    padding: 2rem;
    margin-top: 1rem;
    background: var(--dark);
    color: var(--lighter); 
    text-align:center;
}

@media screen and (min-width: 576px){

body{
    display:flex;
    flex-wrap:wrap;
}
#navbar{
    width: 20%;
    flex: 1 0;
}
#main-doc{
    width: 80%;
    flex: 1 0;
}
#footer{
    width: 100%;
    flex: 1 0;
}






}